@import './_color.scss';

.main-bg {
  background-color: $primary-text-color;
}

.router {
  background-color: rgb(152,36,37);
  @extend .f3, .fw5;
  :link {
    color: $primary-text-color;
    text-decoration: none;
  }
}


.banner {
  background-color: $banner-color;
}